<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Autos</title>
</head>
<body>

    <h1>Predicción de Precio de Autos</h1>

    <label>Engine Size:</label>
    <input type="number" id="enginesize" value="130"><br><br>

    <label>Curb Weight:</label>
    <input type="number" id="curbweight" value="2548"><br><br>

    <label>Horse Power:</label>
    <input type="number" id="horsepower" value="111"><br><br>

    <label>Car Width:</label>
    <input type="number" step="0.1" id="carwidth" value="65.5"><br><br>

    <button onclick="predecir()">Predecir Precio</button>

    <h2 id="resultado"></h2>

    <script>
        async function predecir() {

            const datos = {
                enginesize: Number(document.getElementById("enginesize").value),
                curbweight: Number(document.getElementById("curbweight").value),
                horsepower: Number(document.getElementById("horsepower").value),
                carwidth: Number(document.getElementById("carwidth").value),

                cylindernumber_four: 1,
                highwaympg: 27,
                citympg: 21,
                carlength: 176.6,
                drivewheel_rwd: 0,
                drivewheel_fwd: 1,
                wheelbase: 99.8,
                boreratio: 3.47,
                fuelsystem_mpfi: 1,
                fuelsystem_2bbl: 0,
                cylindernumber_six: 0,
                enginetype_ohcv: 0,
                enginetype_ohc: 1,
                enginelocation_rear: 0,
                carbody_hatchback: 0,
                cylindernumber_five: 0
            };

            try {

                const respuesta = await fetch(
                    "https://proyectorenderautos.onrender.com/predecir",
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(datos)
                    }
                );

                const resultado = await respuesta.json();

                document.getElementById("resultado").innerHTML =
                    "Precio estimado: $" +
                    resultado.precio_estimado.toFixed(2);

            } catch (error) {

                document.getElementById("resultado").innerHTML =
                    "Error al conectar con la API";

                console.error(error);
            }
        }
    </script>

</body>
</html>